@* @model IEnumerable<Lalit_Pant_Dot_Net_Assignment.Models.emergencyaccepter> *@

@* @{ *@
@*     ViewData["Title"] = "Index"; *@
@* } *@

@* <h1>Index</h1> *@

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.PatientName) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.BloodTypeRequired) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Quantity) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.RequestDate) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@* @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.PatientName) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.BloodTypeRequired) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Quantity) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.RequestDate) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
@*             </td> *@
@*         </tr> *@
@* } *@
@*     </tbody> *@
@* </table> *@
@model IEnumerable<Lalit_Pant_Dot_Net_Assignment.Models.emergencyaccepter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodTypeRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <!-- Add Contact column -->
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodTypeRequired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <!-- Add Contact data -->
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
